<script>

</script>

<style>
	main {
		position: relative;
		max-width: 56em;
		background-color: white;
		padding: 2em;
		margin: 0 auto;
		box-sizing: border-box;
	}

    .inicio{
        text-align: center;
    }
</style>

<main>
	<slot></slot>
</main>

<p class="inicio"><a href=".">INICIO</a></p>