<svelte:head>
	<title>Acerca de</title>
</svelte:head>

<script>
import Guia from './guia.svelte';
</script>

<h1>Acerca de este sitio</h1>

<p>This is the 'about' page. There's not much here.</p>

<Guia firma={"HTML"}/>