<style>
	h1, figure, p {
		text-align: center;
		margin: 0 auto;
	}

	h1 {
		font-size: 2.8em;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 0.5em 0;
	}

	figure {
		margin: 0 0 1em 0;
	}

	img {
		width: 100%;
		max-width: 400px;
		margin: 0 0 1em 0;
	}

	p {
		margin: 1em auto;
	}

	@media (min-width: 480px) {
		h1 {
			font-size: 4em;
		}
	}
</style>

<svelte:head>
	<title>Moki App</title>
</svelte:head>

<h1>Menu</h1>

<p><a href="yo"><strong>EMPEZAR</strong></a></p>

<figure>
	<img alt='Borat' src='https://res.cloudinary.com/twenty20/private_images/t_standard-fit/v1521838892/photosp/e4ab873d-c3e7-4458-96c3-ea1d93a2a191/e4ab873d-c3e7-4458-96c3-ea1d93a2a191.jpg'>
	<figcaption>¡COMIENZA A PROGRAMAR!</figcaption>
</figure>

<p><strong>Esta app esta en construcción, explora un poco...</strong></p>
