<svelte:head>
	<title>Bienvenid@</title>
</svelte:head>

<style>
@import url('https://fonts.googleapis.com/css?family=Anton|Raleway&display=swap');
.rale{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
}

.anto{
    font-family: 'Anton', sans-serif;
    text-align: center;
}
</style>

<script>
import Guia from './guia.svelte';
 let cadena='Esta es una cadena';
</script>

<h1 class="anto">Te damos la bienvenida</h1>

<p class="rale">Selecciona una de las siguientes opciones:</p>

<ul style="list-style-type:none;">
  <li><a href="about">Aprender a Programar</a></li>
  <li>Aprender Desarrollo Web</li>
  <li>Aprender Inteligencia Artificial</li>
  <li>Aprender Big Data</li>
</ul>

<p>{cadena}</p>

<Guia firma={"PHP"}/>