<script>
import Dog from './Dog.svelte';
//import Boton, { aumentoBoton } from './Boton.svelte';
import Suma from './Suma.svelte';
	export let name;
</script>

<style>
	h1 {
		color: #ff3e00;
	}
</style>

<h1>Hola {name}!</h1>

<Dog />


<Suma />