<script context="module">
	export function aumentoBoton() {
		let count = 0;

		const incrementaCuenta = () => {
			count++
		}
	}
</script>

{count}<button on:click={incrementaCuenta}>Presiona</button>