<script>	
		let cuenta = 0;

		const incrementarCuenta = () => {
			cuenta++
		}
	$: console.log(`La cuenta va en: ${cuenta}`);
</script>

{cuenta}<button on:click={incrementarCuenta}>Presiona</button>