<svelte:head>
	<title>Acerca de EncuestApp</title>
</svelte:head>

<h1>Acerca de EncuestApp</h1>

<p>Esta app fue creada por <strong>Marco Antonio Castillo Reyes</strong></p>

<p>Fotos tomadas de pornpics.com</p>
