<style>
	h1, p {
		text-align: center;
		margin: 0 auto;
	}

	h1 {
		font-size: 2.8em;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 0.5em 0;
	}

	p {
		margin: 1em auto;
	}

	@media (min-width: 480px) {
		h1 {
			font-size: 4em;
		}
	}

	.init{
		font-size: 1.5em;
	}

	.sub{
		font-size: 2em;
	}
</style>
<svelte:head>
	<title>EncuestApp</title>
</svelte:head>

<h1>¡Bienvenido a la EncuestApp!</h1>

<p><strong class="sub">Intenta realizar el test que hicimos para ti.</strong></p>

<p><a href='test' class="init">Realizar Test</a></p>
