<style>
	h1, figure, p {
		text-align: center;
		margin: 0 auto;
	}

	h1 {
		font-size: 2.8em;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 0.5em 0;
	}

	figure {
		margin: 0 0 1em 0;
	}

	img {
		width: 100%;
		max-width: 400px;
		margin: 0 0 1em 0;
	}

	p {
		margin: 1em auto;
	}

	@media (min-width: 480px) {
		h1 {
			font-size: 4em;
		}
	}
</style>

<svelte:head>
	<title>Felicidades Respuesta Correcta</title>
</svelte:head>

<script>
	let opc;
	let src="https://images.pornpics.com/1280/201812/27/6872421/6872421_031_33d4.jpg";

	let foto="https://images.pornpics.com/1280/201812/27/6872421/6872421_032_6cf0.jpg";

	function respuesta(){
		if (opc==1) {
			alert("Respuesta Incorrecta");
		}
		else if(opc==2){
			//alert("Respuesta Correcta");
			location.replace("/otro")
		}
		else{
			alert("Respuesta Incorrecta");
		}
	}
</script>

<h1>Que chido</h1>

<figure>
<p><img src={src} alt="Que chido"></p>
</figure>

<h1>a difrutar</h1>

<figure>
<p><img src={foto} alt="Ah disfrutar"></p>
</figure>