<script>
	import Si from './si.svelte';
	import No from './no.svelte';
	let src="https://images.pornpics.com/1280/201812/27/6872421/6872421_009_60cd.jpg";
</script>

<style>
	h1, figure, p {
		text-align: center;
		margin: 0 auto;
	}

	h1 {
		font-size: 2.8em;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 0.5em 0;
	}

	figure {
		margin: 0 0 1em 0;
	}

	img {
		width: 100%;
		max-width: 400px;
		margin: 0 0 1em 0;
	}

	p {
		margin: 1em auto;
	}

	@media (min-width: 480px) {
		h1 {
			font-size: 4em;
		}
	}

	.elegir{
		text-align: center;
	}
</style>
<svelte:head>
	<title>¿Eres Lesbiana?</title>
</svelte:head>

<h1>¿Eres Lesbiana?</h1>

<figure>
<img src={src} alt="¿Eres Lesbiana?">
</figure>
<div class="elegir">
<h1>¿Si o No?</h1>

<No />
<Si />
<p></p>
</div>