<style>
	h1, figure, p {
		text-align: center;
		margin: 0 auto;
	}

	h1 {
		font-size: 2.8em;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 0.5em 0;
	}

	figure {
		margin: 0 0 1em 0;
	}

	img {
		width: 100%;
		max-width: 400px;
		margin: 0 0 1em 0;
	}

	p {
		margin: 1em auto;
	}

	@media (min-width: 480px) {
		h1 {
			font-size: 4em;
		}
	}

	.elegir{
		text-align: center;
	}
</style>

<svelte:head>
	<title>Encuesta</title>
</svelte:head>

<script>
	let opc;
	let src="https://cdn.pornpics.com/pics1/2015-03-03/307797_01big.jpg";

	function respuesta(){
		if (opc==1) {
			alert("Respuesta Incorrecta");
		}
		else if(opc==2){
			//alert("Respuesta Correcta");
			location.replace("/win")
		}
		else{
			alert("Respuesta Incorrecta");
		}
	}
</script>

<h1>Pregunta</h1>

<figure>
<img src={src} alt="Adivina y gana">
</figure>
<h1>¿Qué es ella?</h1>

<div class="elegir">
<label>
	<input type=radio bind:group={opc} value={1}>
	Secretaria
</label>

<label>
	<input type=radio bind:group={opc} value={2}>
	Colegiala
</label>

<label>
	<input type=radio bind:group={opc} value={3}>
	Porrista
</label>


{#if opc==1}
<p>Elegiste Secretaria</p>
<button on:click={respuesta}>Checar respuesta</button>
{:else if opc==2}
<p>Elegiste Colegiala</p>
<button on:click={respuesta}>Checar respuesta</button>
{:else}
<p>Elegiste Porrista</p>
<button on:click={respuesta}>Checar respuesta</button>
{/if}
</div>